{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <div class="container">
    <ul class="breadcrumb">
        <li><a href="/backup/">{% trans "Backup &amp; restore" %}</a> <span class="divider">/</span></li>
        <li><a href="/backup/system/">{% trans "Complete system" %}</a> <span class="divider">/</span></li>
        <li class="active">{% trans "Backup wizard" %}</li>
    </ul>

      <h1>{% trans "Complete system backup" %}</h1>

      <p>&nbsp;</p>

<form action="" method="post" class="form-horizontal">
{% csrf_token %}
    <fieldset>
        <legend>{% trans "Step 1: Prepare USB stick" %}</legend>
        <p>{% trans "Insert an USB stick, large enough to back up you data." %}</p>
        <p>&nbsp;</p>
{% if errormsg %}
        <div class="alert alert-error">
            <h4>{% trans "Error" %}</h4>
{% if errormsg == 'sizefail' %}
            {% trans "This USB stick is too small!" %}
{% endif %}
{% if errormsg == 'nodrive' %}
            {% trans "No USB stick detected." %}
{% endif %}
        </div>
{% endif %}
        <button id="check_usb" name="check_usb" value="1" class="btn btn-primary disable_after_click">{% trans "Check USB stick" %}</button>
    </fieldset>
</form>

    </div> <!-- /container -->
{% endblock %}
