config privoxy 'privoxy'
        option confdir '/etc/privoxy'
        option logdir '/var/log'
        option logfile 'privoxy'
{{#if_webfilter_filter_ads}}
        list filterfile 'default.filter'
        list actionsfile 'default.action'
{{/if_webfilter_filter_ads}}
        list actionsfile 'user.action'
        list actionsfile 'match-all.action'
        list listen_address '0.0.0.0:8888'
        option toggle '1'
        option enable_remote_toggle '1'
        option enable_remote_http_toggle '0'
        option enable_edit_actions '1'
        option enforce_blocks '0'
        option buffer_limit '4096'
        option forwarded_connect_retries '0'
        option accept_intercepted_requests '1'
        option allow_cgi_request_crunching '0'
        option split_large_forms '0'
        option keep_alive_timeout '300'
        option socket_timeout '300'
        list permit_access '192.168.100.0/24'
        list permit_access '192.168.101.0/24'
        option debug '0'

