{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <!-- Breadcrumbs -->
    <ul class="breadcrumb breadcrumb-top">
        <li>{% trans "Firmware upgrade" %}</li>
    </ul>
    <!-- END Breadcrumbs -->

    <!-- Block -->
    <div class="block">

        <!-- Title -->
        <div class="block-title">
            <h2><strong>{% trans "Firmware upgrade" %}</strong></h2>
        </div>
        <!-- END Title -->

      <p>{% trans "Flash the current image onto the Enigmabox." %}</p>

        <!-- Content -->
        <div class="row">
            <div class="col-md-6">
                <div class="block-section">

                    <div class="alert alert-danger">
                      <h4><strong>{% trans "Warning" %}</strong></h4>
                      <a target="_blank" href="/backup/system/backupwizard/">{% trans "Back up your system" %}</a>! {% trans "Your emails, Hypesites, /wiki and /owncloud WILL BE DELETED during the upgrade!" %}
                    </div>

                    <form action="" method="post" class="form-horizontal">
                    {% csrf_token %}
                    <fieldset>

                    <!-- Form Name -->
                    <legend>{% trans "Flash firmware" %}</legend>

                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="fw-download">{% trans "Step one" %}</label>
                      <div class="col-md-8">
                        <button id="fw-download" name="download" value="1" class="btn btn-success btn-alt">{% trans "Download image" %}</button> {% if download_ok %}{% trans "Download successful" %} <i class="hi hi-ok"></i>{% endif %}
                        <i id="fw-download-progress" class="fa fa-sun-o fa-spin"></i>
                      </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="fw-verify">{% trans "Step two" %}</label>
                      <div class="col-md-8">
                        <button id="fw-verify" name="verify" value="1" class="btn btn-warning btn-alt" {% if not download_ok %}disabled="disabled"{% endif %}>{% trans "Verify image" %}</button> {% if verify_ok %}{% trans "Image ok" %} <i class="hi hi-ok"></i>{% endif %}
                        <i id="fw-verify-progress" class="fa fa-sun-o fa-spin"></i>
                      </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="fw-write">{% trans "Step three" %}</label>
                      <div class="col-md-8">
                        <button id="fw-write" name="write" value="1" class="btn btn-danger btn-alt" {% if not verify_ok %}disabled="disabled"{% endif %}>{% trans "Write image" %}</button>
                      </div>
                    </div>

                    </fieldset>
                    </form>

                    <!-- Modal -->
                    <div id="fw-countdown" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h3>{% trans "Firmware upgrade in progress" %}</h3>
                              </div>
                              <div class="modal-body text-center">
                                <p>{% trans "Do NOT power off your Enigmabox!" %}</p>
                                <p class="counter">999</p>
                                <p>{% trans "seconds remaining" %}</p>
                              </div>
                              <div class="modal-footer">
                                <div id="fw-write-progress" class="progress progress-striped active">
                                    <div id="fw-write-bar" class="progress-bar progress-bar-info" style="width: 0%"></div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
