{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <div class="container">

      <h1>{% trans "Firmware upgrade" %}</h1>

      <p>{% trans "Flash the current image onto the Enigmabox." %}</p>

      <p>&nbsp;</p>

<div class="alert alert-error">
  <h4>{% trans "Warning" %}</h4>
  <a target="_blank" href="/backup/emails/">{% trans "Back up your emails!" %}</a> {% trans "Your emails WILL BE DELETED during the upgrade!" %}
</div>

<form action="" method="post" class="form-horizontal">
{% csrf_token %}
<fieldset>

<!-- Form Name -->
<legend>{% trans "Flash firmware" %}</legend>

<div class="row">
    <div class="span5">
        <!-- Button -->
        <div class="control-group">
          <label class="control-label" for="download">{% trans "Step one" %}:</label>
          <div class="controls">
            <button id="fw-download" name="download" value="1" class="btn btn-success">{% trans "Download image" %}</button>
          </div>
        </div>

        <!-- Button -->
        <div class="control-group">
          <label class="control-label" for="verify">{% trans "Step two" %}:</label>
          <div class="controls">
            <button id="fw-verify" name="verify" value="1" class="btn btn-warning" {% if not download_ok %}disabled="disabled"{% endif %}>{% trans "Verify image" %}</button> {% if verify_ok %}{% trans "Image ok" %}{% endif %}
          </div>
        </div>

        <!-- Button -->
        <div class="control-group">
          <label class="control-label" for="write">{% trans "Step three" %}:</label>
          <div class="controls">
            <button id="fw-write" name="write" value="1" class="btn btn-danger" {% if not verify_ok %}disabled="disabled"{% endif %}>{% trans "Write image" %}</button>
          </div>
        </div>

    </div>
{% if download_ok %}
    <div class="span7">
        <div class="progress progress-success">
            <div id="fw-download-bar" class="bar" style="width: 100%"></div>
        </div>
    </div>
{% else %}
    <div class="span7">
        <div id="fw-download-progress" class="progress progress-success hidden">
            <div id="fw-download-bar" class="bar" style="width: 0%"></div>
        </div>
    </div>
{% endif %}
{% if verify_ok %}
    <div class="span7">
        <div class="progress progress-warning">
            <div id="fw-verify-bar" class="bar" style="width: 100%"></div>
        </div>
    </div>
{% else %}
    <div class="span7">
        <div id="fw-verify-progress" class="progress progress-warning hidden">
            <div id="fw-verify-bar" class="bar" style="width: 0%"></div>
        </div>
    </div>
{% endif %}
</div>

</fieldset>
</form>

<!-- Modal -->
<div id="fw-countdown" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <h3>Firmware upgrade in progress</h3>
  </div>
  <div class="modal-body text-center">
    <p>Do NOT power off your Enigmabox!</p>
    <p class="counter">999</p>
    <p>seconds remaining</p>
  </div>
  <div class="modal-footer">
    <div id="fw-write-progress" class="progress progress-striped active">
        <div id="fw-write-bar" class="bar" style="width: 0%"></div>
    </div>
  </div>
</div>

    </div> <!-- /container -->
{% endblock %}
