{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <!-- Breadcrumbs -->
    <ul class="breadcrumb breadcrumb-top">
        <li>{% trans "Teletext" %}</li>
    </ul>
    <!-- END Breadcrumbs -->

    <!-- Block -->
    <div class="block">

        <!-- Title -->
        <div class="block-title">
            <h2><strong>{% trans "Teletext" %}</strong></h2>
        </div>
        <!-- END Title -->

      <p>{% trans 'Teletext is a distributed Twitter clone.' %}</p>
      <p>{% trans 'Publish telegrams, find other ciphernauts, coordinate a revolution below the radar.' %}</p>

        <!-- Content -->
        <div class="row">
            <div class="col-md-6">

                <form method="post" class="form-horizontal">
                {% csrf_token %}

                <fieldset>

                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="teletext">Enable Teletext</label>
                      <div class="col-md-4">
                        {% if teletext_enabled == '1' %}
                            <button id="teletext" name="teletext" class="btn btn-success">{% trans "Enabled" %}</button>
                        {% else %}
                            <button id="teletext" name="teletext" class="btn btn-default">{% trans "Disabled" %}</button>
                        {% endif %}
                      </div>
                    </div>

                </fieldset>
                </form>

            </div>
        </div>
    </div>

{% endblock %}
