
.ajax-loader {
    background: url('/media/img/ajax-loader.gif');
    width: 16px;
    height: 16px;
    position: absolute;
    margin-top: 3px;
}

.hidden {
    display: none;
}

#lockscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 9999;
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    display: none;
}

.counter {
    font-size: 200px;
    line-height: 1em;
}

#countrysort li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }

.ui-state-highlight {
    width: 300px;
    border: 2px dotted grey;
}

.credits {
    position: absolute;
    bottom: 0;
    right: 20px;
}

