{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <div class="container">

      <h1>{% trans "Storage" %}</h1>
      <p>{% trans 'Configure external storage devices.' %}</p>
      <br />
      <p><a href="/storage/" class="btn btn-primary">{% trans "Refresh" %}</a></p>
      <br />

{% if form.errors %}
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{% trans "Error" %}:</strong>
{{ form.errors }}
</div>
{% endif %}

<table class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Size" %}</th>
        <th>{% trans "Device name" %}</th>
        <th>{% trans "Device identifier" %}</th>
        <th>{% trans "Action" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for volume in volumes %}
    <tr>
    <form action="" method="post">
    {% csrf_token %}
{% if volume.status == 'mounted' %}
        <td><span class="label label-success">{% trans "Mounted" %}</span></td>
{% else %}
        <td><span class="label label-default">{% trans "Not mounted" %}</span></td>
{% endif %}
        <td>{{ volume.size|filesizeformat }}</td>
        <td>
            <div class="input-prepend">
                <span class="add-on">/media/</span>
                <input id="name" name="name" type="text" placeholder="name" class="input-mini" value="{{ volume.name|default:'' }}" maxlength="20">
                <button type="submit" class="btn btn-default" name="set_name" value="1">OK</button>
            </div>
        </td>
        <td>{{ volume.identifier }}<input type="hidden" name="identifier" value="{{ volume.identifier }}" /></td>
        <td>
{% if volume.use %}
            <button type="submit" class="btn btn-success" name="nouse" value="1">{% trans "Use" %}</button>
{% else %}
    {% if volume.name %}
            <button type="submit" class="btn btn-default" name="use" value="1">{% trans "Use" %}</button>
    {% else %}
            <button disabled="disabled" type="submit" class="btn btn-default" name="use" value="1">{% trans "Use" %}</button>
    {% endif %}
{% endif %}
            <button type="submit" class="btn btn-default" name="remove" value="1">{% trans "Remove" %}</button>
        </td>
    </form>
    </tr>
    {% endfor %}
    </tbody>
</table>

    </div> <!-- /container -->

{% if failed_mount_device != '' %}
<!-- Modal -->
<div id="failed-mount" class="modal hide" tabindex="-1" role="dialog">
  <div class="modal-header">
    <h3>{% trans "Mount failed" %}</h3>
  </div>
  <div class="modal-body">
    <pre style="overflow-y: scroll; overflow-x: hidden;" class="dynamic-output hide" data-static_height="300"></pre>
    <p class="format-drive-ask">{% trans "Mount failed." %}</p>
    <p class="format-drive-ask"><strong>/media/{{ failed_mount_device.name }} ({{ failed_mount_device.size|filesizeformat }})</strong> - {{ failed_mount_device.identifier }}</p>
    <p class="format-drive-ask">{% trans "Format this volume?" %}</p>
    <p class="format-drive-success hide">{% trans "Drive has been formatted. It may appear as a new volume." %}</p>
  </div>
  <div class="modal-footer">
    <span class="format-buttonbar">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
        <button id="confirm-format" class="btn btn-danger" data-identifier="{{ failed_mount_device.identifier }}">{% trans "Format and destroy all data" %}</button>
    </span>
    <span class="format-progressbar hide">
        <div class="progress progress-striped active">
            <div class="bar" style="width: 100%"></div>
        </div>
    </span>
    <span class="format-donebar hide">
        <a class="btn" href="/storage/">{% trans "Done" %}</a>
    </span>
  </div>
</div>
{% endif %}

{% endblock %}
