{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <div class="container">

      <h1>{% trans "Storage" %}</h1>
      <p>{% trans 'Configure external storage devices.' %}</p>
      <br />
      <p><a href="/storage/" class="btn btn-primary">{% trans "Refresh" %}</a></p>
      <br />

<table class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Size" %}</th>
        <th>{% trans "Device name" %}</th>
        <th>{% trans "Device identifier" %}</th>
        <th>{% trans "Action" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for volume in volumes %}
    <tr>
        <td>{% trans "Not mounted" %}</a></td>
        <td>{{ volume.size }}</td>
        <td><div class="input-prepend"><span class="add-on">/media/</span><input id="phone" name="phone" type="text" placeholder="name" class="input-mini" value="{{ volume.name }}" maxlength="7"><a href="/storage/" class="btn btn-default">{% trans "OK" %}</a></div></td>
        <td>{{ volume.identifier }}</td>
        <td><a href="/storage/" class="btn btn-default">{% trans "Use" %}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

    </div> <!-- /container -->
{% endblock %}
