{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <!-- Breadcrumbs -->
    <ul class="breadcrumb breadcrumb-top">
        <li><a href="{% url app.views.addressbook %}">{% trans "Addressbook" %}</a></li>
        <li class="active">{{ address.display_name }}</li>
    </ul>
    <!-- END Breadcrumbs -->

    <!-- Block -->
    <div class="block">

        <!-- Title -->
        <div class="block-title">
            <h2><strong>{{ address.display_name }}</strong></h2>
        </div>
        <!-- END Title -->

        <!-- Content -->
        <div class="row">
            <div class="col-md-6">
                <form method="post" class="form-horizontal">
                {% csrf_token %}

                <fieldset>

                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>{% trans "Error" %}:</strong>
                    {{ form.errors }}
                </div>
                {% endif %}

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="name">{% trans "Hostname" %}</label>
                  <div class="col-md-4">
                      <input {% form_error form.name.errors %} id="name" name="name" type="text" value="{{ form.name.value }}" placeholder="{% trans "Hostname" %}" class="form-control input-md">
                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="display_name">{% trans "Displayed name" %}</label>
                  <div class="col-md-4">
                      <input {% form_error form.name.errors %} id="display_name" name="display_name" type="text" value="{{ form.display_name.value }}" placeholder="{% trans "Displayed name" %}" class="form-control input-md">
                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="ipv6">{% trans "IPv6 address" %}</label>
                  <div class="col-md-4">
                      <input {% form_error form.ipv6.errors %} id="ipv6" name="ipv6" type="text" value="{{ form.ipv6.value }}" placeholder="{% trans "IPv6 address" %}" class="form-control input-md">
                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="phone">{% trans "Phone number" %}</label>
                  <div class="col-md-4">
                      <input {% form_error form.phone.errors %} id="phone" name="phone" type="text" value="{{ form.phone.value }}" placeholder="{% trans "Phone number" %}" class="form-control input-md">
                  </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="button1id"></label>
                  <div class="col-md-8">
                    <button id="submit" name="submit" value="save" class="btn btn-alt btn-info">{% trans "Save" %}</button>
                    <a href="{% url app.views.addressbook %}" class="btn btn-alt btn-default">{% trans "Cancel" %}</a>
                  </div>
                </div>

                </fieldset>
                <fieldset>

                <legend>{% trans "Delete phone number" %}</legend>

                <!-- Button -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="delete"></label>
                  <div class="col-md-4">
                    <button id="delete" name="submit" value="delete" class="btn btn-alt btn-danger confirmation">{% trans "Delete" %}</button>
                  </div>
                </div>

                </fieldset>
                </form>
            </div>
        </div>

    </div>
{% endblock %}
