{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <!-- Breadcrumbs -->
    <ul class="breadcrumb breadcrumb-top">
        <li>{% trans "Address book" %}</li>
    </ul>
    <!-- END Breadcrumbs -->

    <!-- Block -->
    <div class="block">

        <!-- Title -->
        <div class="block-title">
            <h2><strong>{% trans "Address book" %}</strong></h2>
        </div>
        <!-- END Title -->

      <p>{% trans "Managing contacts and assigning names and numbers." %}</p>

        <!-- Content -->
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-8">
                <div class="block-section">
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="/addressbook/">{% trans "Personal address book" %}</a></li>
                      <li><a href="/addressbook-global/">{% trans "Global address book" %}</a></li>
                    </ul>
                    <div class="ajax_refresh" data-request_url="/addressbook/?order={{ order }}">
{% include 'addressbook/address_table.html' %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-8">
                <div class="block-section">
                    <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    <fieldset>

                    <legend>{% trans "Add contact" %}</legend>
{% if form.errors %}
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{% trans "Error" %}:</strong>
                        {{ form.errors }}
                    </div>
{% endif %}
                    <div class="row">
                        <div class="col-md-3">
                            <input {% form_error form.name.errors %} id="name" name="name" type="text" placeholder="{% trans "Hostname" %}" class="form-control input-md" value="{{ form.name.value }}" />
                        </div>
                        <div class="col-md-6">
                            <input {% form_error form.ipv6.errors %} id="ipv6" name="ipv6" type="text" placeholder="{% trans "IPv6 address" %}" class="form-control input-md" value="{{ form.ipv6.value }}" />
                        </div>
                        <div class="col-md-3">
                            <input {% form_error form.phone.errors %} id="phone" name="phone" type="text" placeholder="{% trans "Phone number" %}" class="form-control input-md" value="{{ form.phone.value }}" maxlength="7" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <button id="add_address" name="add_address" class="btn btn-info btn-alt">{% trans "Add" %}</button>
                        </div>
                    </div>
                    </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <!-- END Content -->

    </div>
    <!-- END Block -->
{% endblock %}
