; extensions.conf - the Asterisk dial plan

[incoming]
exten => _X.,1,Answer()
exten => _X.,n,Playback(silence/1)
exten => _X.,n,Dial(SIP/100,30)
exten => _X.,n,Hangup()

[friends]
{{#addresses}}
exten => {{phone}},1,Dial(SIP/100@{{hostname}})
{{/addresses}}

;global addresses
{{#global_addresses}}
exten => 01{{phone}},1,Dial(SIP/100@global-{{hostname}})
{{/global_addresses}}

;echo test
exten => 1,1,Answer()
;exten => 1,n,Playback(tt-somethingwrong)
exten => 1,n,Playback(tt-weasels)
exten => 1,n,Playback(tt-monkeysintro)
exten => 1,n,Playback(tt-monkeys)
exten => 1,n,Echo()
exten => 1,n,Playback(vm-goodbye)
exten => 1,n,Hangup()

