; SIP Configuration

[general]
bindaddr=::
transport=tcp
tcpenable=yes
canreinvite=no
context=incoming
disallow=all
allow=ulaw
allow=alaw
allow=h263
allow=h264
videosupport=yes



{{^if_is_apu}}
; enable jitter for non-apus

jbenable=yes
jbforce=yes

; this settings work well when the net is fucked up and laggy
jbmaxsize=100
jbresyncthreshold=500

; little less treshold
;jbmaxsize=50
;jbresyncthreshold=250

; this settings work well when the net is ok
;jbmaxsize=25
;jbresyncthreshold=200
{{/if_is_apu}}



; my own phone

[100]
type=peer
qualify=yes
secret=100
host=dynamic
context=friends
transport=udp



; my addresses

[basic-options](!)
    type=peer
    qualify=1000
    qualifyfreq=300
    context=incoming
    encryption=yes

{{#addresses}}
[{{hostname}}](basic-options)
    host={{ipv6}}
    callerid="{{display_name}} <{{hostname}}>"

{{/addresses}}



; global addresses

[global-addresses](!)
    type=peer
    context=incoming
    encryption=yes

{{#global_addresses}}
[{{hostname}}.eb](global-addresses)
    host={{ipv6}}
    callerid="{{hostname}}.eb <01{{phone}}>"

{{/global_addresses}}

