{% load apptags %}
{% load i18n %}
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Enigmabox controlpanel</title>

        <meta name="description" content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">
        <meta name="robots" content="noindex, nofollow">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Icons -->
        <link rel="shortcut icon" href="/media/img/favicon.ico">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="/media/css/bootstrap.min.css?{% display_version slugify='1' %}">
        <link rel="stylesheet" href="/media/css/flag-icon.css?{% display_version slugify='1' %}">

        <!-- Related styles of various icon packs and plugins -->
        <link rel="stylesheet" href="/media/css/plugins.css?{% display_version slugify='1' %}">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="/media/css/main.css?{% display_version slugify='1' %}">

        <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="/media/css/themes/forest.css?{% display_version slugify='1' %}">

        <link href="/media/css/box.css?{% display_version slugify='1' %}" rel="stylesheet" media="screen">
        <link href="/media/css/ansi2html.css?{% display_version slugify='1' %}" rel="stylesheet" media="screen">
        <!-- END Stylesheets -->

        <script type="text/javascript">
        translation = window.translation || {};
        translation['are_you_sure'] = '{% trans "Are you sure?" %}';
        translation['show'] = '{% trans "Show" %}';
        </script>

        <!-- Modernizr (browser feature detection library) & Respond.js (enables responsive CSS code on browsers that don't support it, eg IE8) -->
        <!--<script src="/media/js/vendor/modernizr-respond.min.js"></script>-->
    </head>
    <body>
        <!-- Page Wrapper -->
        <div id="page-wrapper">
            <!-- Page Container -->
            <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">

                <!-- Main Sidebar -->
                <div id="sidebar">
                    <!-- Wrapper for scrolling functionality -->
                    <div id="sidebar-scroll">
                        <!-- Sidebar Content -->
                        <div class="sidebar-content">
                            <!-- Brand -->
                            <a href="{% url app.views.home %}" class="sidebar-brand">
                                <i class="gi gi-lock"></i><span class="sidebar-nav-mini-hide"><strong>Enigmabox</strong></span>
                            </a>
                            <!-- END Brand -->
{% if_config_changed object None %}
                            <div class="text-center">
                                <a id="button-apply" href="{% url app.views.apply_changes %}" class="btn btn-danger animation-pulse">{% trans "Apply changes" %}</a>
                            </div>
{% endif_config_changed %}
                            <!-- Sidebar Navigation -->
                            <ul class="sidebar-nav">
                                <li>
                                    <a href="{% url app.views.home %}"><i class="gi gi-stopwatch sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">{% trans "Overview" %}</span></a>
                                </li>
                                <li class="sidebar-header">
                                    <span class="sidebar-header-title">{% trans "System" %}</span>
                                </li>
                                <li>
                                    <a class="{% active request 'addressbook' %}" href="{% url app.views.addressbook %}"><i class="gi gi-user sidebar-nav-icon"></i>&nbsp;{% trans "Addressbook" %}</a>
                                </li>
                                <li>
                                    <a class="{% active request 'passwords' %}" href="{% url app.views.passwords %}"><i class="gi gi-lock sidebar-nav-icon"></i>&nbsp;{% trans "Passwords" %}</a>
                                </li>
                                <li>
                                    <a class="{% active request 'storage' %}" href="{% url app.views.storage %}"><i class="gi gi-hdd sidebar-nav-icon"></i>&nbsp;{% trans "Storage" %}</a>
                                </li>
                                <li>
                                    <a class="{% active request 'backup' %}" href="{% url app.views.backup %}"><i class="gi gi-share sidebar-nav-icon"></i>&nbsp;{% trans "Backup &amp; restore" %}</a>
                                </li>
{% if_updates object None  %}
                                <li>
                                    <a class="{% active request 'updates' %}" href="{% url app.views.updates %}"><i class="gi gi-circle_arrow_top sidebar-nav-icon"></i>&nbsp;{% trans "Updates" %}</a>
                                </li>
{% endif_updates %}
{% if_show_upgrader object None %}
                                <li>
                                    <a class="{% active request 'upgrade' %}" href="{% url app.views.upgrade %}"><i class="gi gi-download_alt sidebar-nav-icon"></i>&nbsp;{% trans "Firmware upgrade" %}</a>
                                </li>
{% endif_show_upgrader  %}
                                <li class="sidebar-header">
                                    <span class="sidebar-header-title">{% trans "Internet" %}</span>
                                </li>
                                <li>
                                    <a class="{% active request 'countryselect' %}" href="{% url app.views.countryselect %}"><i class="gi gi-globe sidebar-nav-icon"></i>&nbsp;{% trans "Country selection" %}</a>
                                </li>
                                <li>
                                    <a class="{% active request 'webfilter' %}" href="{% url app.views.webfilter %}"><i class="gi gi-ban sidebar-nav-icon"></i>&nbsp;{% trans "Ad blocking" %}</a>
                                </li>
                                <li class="sidebar-header">
                                    <span class="sidebar-header-title">{% trans "Network" %}</span>
                                </li>
{% if_internet_access_expiring object None %}
                                <li>
                                    <a class="{% active request 'subscription' %}" href="{% url app.views.subscription %}"><i class="gi gi-repeat sidebar-nav-icon"></i>&nbsp;{% trans "Subscription" %}</a>
                                </li>
{% endif_internet_access_expiring %}
                                <li>
                                    <a class="{% active request 'peerings' %}" href="{% url app.views.peerings %}"><i class="gi gi-random sidebar-nav-icon"></i>&nbsp;{% trans "Peerings" %}</a>
                                </li>
                                <li>
                                    <a class="{% active request 'lan_range' %}" href="{% url app.views.lan_range %}"><i class="hi hi-resize-horizontal sidebar-nav-icon"></i>&nbsp;{% trans "LAN IP range" %}</a>
                                </li>
                                <li>
                                    <a class="{% active request 'wlan_settings' %}" href="{% url app.views.wlan_settings %}"><i class="gi gi-signal sidebar-nav-icon"></i>&nbsp;{% trans "WLAN settings" %}</a>
                                </li>
                                <li class="sidebar-header">
                                    <span class="sidebar-header-title">{% trans "Services" %}</span>
                                </li>
                                <li>
                                    <a class="{% active request 'hypesites' %}" href="{% url app.views.hypesites %}"><i class="gi gi-road sidebar-nav-icon"></i>&nbsp;{% trans "Hypesites" %}</a>
                                </li>
                                <li>
                                    <a class="{% active request 'teletext' %}" href="{% url app.views.teletext %}"><i class="gi gi-list sidebar-nav-icon"></i>&nbsp;{% trans "Teletext" %}</a>
                                </li>
                                <li>
                                    <a class="{% active request 'portforwarding' %}" href="{% url app.views.portforwarding %}"><i class="gi gi-share_alt sidebar-nav-icon"></i>&nbsp;{% trans "Port forwarding" %}</a>
                                </li>
                            </ul>
                            <!-- END Sidebar Navigation -->

                            <hr />

                            <!-- Sidebar Notifications -->
                            <div class="sidebar-section sidebar-nav-mini-hide">
                                <div class="alert alert-warning alert-alt">
                                    {% display_space_usage %}
                                </div>
                            </div>
                            <!-- END Sidebar Notifications -->
                        </div>
                        <!-- END Sidebar Content -->
                    </div>
                    <!-- END Wrapper for scrolling functionality -->
                </div>
                <!-- END Main Sidebar -->

                <!-- Main Container -->
                <div id="main-container">
                    <!-- Page content -->
                    <div id="page-content">

                        <ul class="breadcrumb breadcrumb-top pull-right">
                            <li class="divider-vertical"></li>
                            <!--<li><a title="Deine IPv6-Adresse" href="">{% display_ip %}</a></li>-->
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">Language <b class="caret"></b></a>
                                <ul class="dropdown-menu">
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
                                    <li><a href="/i18n/setlang/{{ language.code }}/">{{ language.name_local|title }}</a></li>
{% endfor %}
                                </ul>
                            </li>
                        </ul>

{% block main %}

{% endblock %}
                    </div>
                    <!-- END Page Content -->

                    <!-- Footer -->
                    <footer class="clearfix">
                        <div class="pull-right">
                            <a href="https://github.com/enigmagroup/enigmabox-openwrt" target="_blank">{% display_version %}</a>
                        </div>
                    </footer>
                    <!-- END Footer -->
                </div>
                <!-- END Main Container -->
            </div>
            <!-- END Page Container -->
        </div>
        <!-- END Page Wrapper -->

        <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
        <a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

        <!-- Apply now modal -->
        <div id="apply-now" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">{% trans "Apply changes" %}</h3>
                    </div>
                    <div class="modal-body">
                        <pre style="overflow-y: scroll; overflow-x: hidden; display: none;" class="dynamic-output" data-static_height="300"></pre>
                        <p class="apply-changes-ask">{% trans "Apply changes?" %}</p>
                        <p style="display: none;" class="apply-changes-success">{% trans "Changes successfully applied." %}</p>
                    </div>
                    <div class="modal-footer">
                        <span class="apply-buttonbar">
                            <button class="btn btn-default btn-alt" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                            <button id="confirm-apply" class="btn btn-info btn-alt">{% trans "Apply changes" %}</button>
                        </span>
                        <div style="display: none;" class="apply-progressbar progress progress-striped active">
                            <div class="progress-bar progress-bar-info" role="progressbar" style="width: 100%"></div>
                        </div>
                        <span style="display: none;" class="apply-donebar">
                            <button class="btn btn-info btn-alt" data-dismiss="modal" aria-hidden="true">{% trans "Done" %}</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <script src="/media/js/vendor/jquery-1.11.2.min.js"></script>

        <!-- Bootstrap.js, Jquery plugins and Custom JS code -->
        <script src="/media/js/vendor/bootstrap.min.js?{% display_version slugify='1' %}"></script>
        <script src="/media/js/plugins.js?{% display_version slugify='1' %}"></script>
        <script src="/media/js/app.js?{% display_version slugify='1' %}"></script>
        <script src="/media/js/box.js?{% display_version slugify='1' %}"></script>
    </body>
</html>
