{% load apptags %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <title>Enigmabox Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/media/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/media/css/box.css?{% display_version slugify='1' %}" rel="stylesheet" media="screen">
    <link href="/media/css/ansi2html.css" rel="stylesheet" media="screen">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
    <script type="text/javascript">
    translation = window.translation || {};
    translation['are_you_sure'] = '{% trans "Are you sure?" %}';
    translation['show'] = '{% trans "Show" %}';
    </script>
  </head>
  <body>

<div id="lockscreen"></div>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" title="Home" href="{% url app.views.home %}">Enigmabox Administration</a>
{% if_config_changed object None %}
      <a id="button-apply" href="{% url app.views.apply_changes %}" class="btn btn-danger">{% trans "Apply changes" %}</a>
{% endif_config_changed %}
        <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <!--<li><a title="Deine IPv6-Adresse" href="">{% display_ip %}</a></li>-->
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">Language <b class="caret"></b></a>
                <ul class="dropdown-menu">
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
                    <li><a href="/i18n/setlang/{{ language.code }}/">{{ language.name_local|title }}</a></li>
{% endfor %}
                </ul>
            </li>
        </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <!--Sidebar content-->
            <ul class="nav nav-list">
                <li class=""><a href="/"><i class="icon-home"></i>&nbsp;{% trans "Welcome" %}</a></li>
                <li class="nav-header">{% trans "System" %}</li>
                <li class="{% active request 'addressbook' %}"><a href="{% url app.views.addressbook %}"><i class="icon-user"></i>&nbsp;{% trans "Addressbook" %}</a></li>
                <li class="{% active request 'passwords' %}"><a href="{% url app.views.passwords %}"><i class="icon-lock"></i>&nbsp;{% trans "Passwords" %}</a></li>
                <li class="{% active request 'backup' %}"><a href="{% url app.views.backup %}"><i class="icon-share"></i>&nbsp;{% trans "Backup &amp; restore" %}</a></li>
{% if_updates object None  %}
                <li class="{% active request 'updates' %}"><a href="{% url app.views.updates %}"><i class="icon-circle-arrow-up"></i>&nbsp;{% trans "Updates" %}</a></li>
{% endif_updates %}
{% if_show_upgrader object None %}
                <li class="{% active request 'upgrade' %}"><a href="{% url app.views.upgrade %}"><i class="icon-download-alt"></i>&nbsp;{% trans "Firmware upgrade" %}</a></li>
{% endif_show_upgrader  %}
                <li class="nav-header">{% trans "Internet" %}</li>
                <li class="{% active request 'countryselect' %}"><a href="{% url app.views.countryselect %}"><i class="icon-globe"></i>&nbsp;{% trans "Country selection" %}</a></li>
                <li class="{% active request 'webfilter' %}"><a href="{% url app.views.webfilter %}"><i class="icon-ban-circle"></i>&nbsp;{% trans "Ad blocking" %}</a></li>
                <li class="nav-header">{% trans "Network" %}</li>
{% if_internet_access_expiring object None %}
                <li class="{% active request 'subscription' %}"><a href="{% url app.views.subscription %}"><i class="icon-repeat"></i>&nbsp;{% trans "Subscription" %}</a></li>
{% endif_internet_access_expiring %}
                <li class="{% active request 'peerings' %}"><a href="{% url app.views.peerings %}"><i class="icon-random"></i>&nbsp;{% trans "Peerings" %}</a></li>
                <li class="{% active request 'wlan_settings' %}"><a href="{% url app.views.wlan_settings %}"><i class="icon-signal"></i>&nbsp;{% trans "WLAN settings" %}</a></li>
                <li class="nav-header">{% trans "Services" %}</li>
                <li class="{% active request 'teletext' %}"><a href="{% url app.views.teletext %}"><i class="icon-list"></i>&nbsp;{% trans "Teletext" %}&nbsp;<span class="label label-default">beta</span></a></li>
            </ul>
        </div>
        <div class="span10">

        <!--Body content-->
        {% block main %}[main]{% endblock %}

        <a href="https://github.com/enigmagroup/enigmabox-openwrt" target="_blank" class="muted credits">{% display_version %}</a>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="apply-now" class="modal hide" tabindex="-1" role="dialog">
  <div class="modal-header">
    <h3>{% trans "Apply changes" %}</h3>
  </div>
  <div class="modal-body">
    <pre style="overflow-y: scroll; overflow-x: hidden;" class="dynamic-output hide" data-static_height="300"></pre>
    <p class="apply-changes-ask">{% trans "Apply changes?" %}</p>
    <p class="apply-changes-success hide">{% trans "Changes successfully applied." %}</p>
  </div>
  <div class="modal-footer">
    <span class="apply-buttonbar">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
        <button id="confirm-apply" class="btn btn-primary">{% trans "Apply changes" %}</button>
    </span>
    <span class="apply-progressbar hide">
        <div class="progress progress-striped active">
            <div class="bar" style="width: 100%"></div>
        </div>
    </span>
    <span class="apply-donebar hide">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Done" %}</button>
    </span>
  </div>
</div>

    <script src="/media/js/jquery-2.0.2.min.js"></script>
    <script src="/media/js/jquery-ui-1.10.4.min.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="/media/js/box.js?{% display_version slugify='1' %}"></script>
  </body>
</html>
