{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <!-- Breadcrumbs -->
    <ul class="breadcrumb breadcrumb-top">
        <li><a href="/peerings/">{% trans "Peerings" %}</a></li>
        <li class="active">{% trans "New" %}</li>
    </ul>
    <!-- END Breadcrumbs -->

    <!-- Block -->
    <div class="block">

        <!-- Title -->
        <div class="block-title">
            <h2><strong>{% trans "New peering" %}</strong></h2>
        </div>
        <!-- END Title -->

        <p>{% trans "Insert connection data of your peer" %}:</p>

        <form method="post" class="form-horizontal">
        {% csrf_token %}
        <fieldset>

        <!-- Content -->
        <div class="row">
            <div class="col-md-6">
                <div class="block-section">

                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>{% trans "Error" %}:</strong>
                    {{ form.errors }}
                    </div>
                    {% endif %}

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="address">{% trans "Address" %}</label>
                      <div class="col-md-4">
                      <input {% form_error form.address.errors %} id="address" name="address" type="text" placeholder="{% trans "ip:port" %}" class="form-control input-md" value="{{ form.address.value }}">
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="public_key">{% trans "Public key" %}</label>
                      <div class="col-md-4">
                      <input {% form_error form.public_key.errors %} id="public_key" name="public_key" type="text" placeholder="{% trans "publickey.k" %}" class="form-control input-md" value="{{ form.public_key.value }}">
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="password">{% trans "Password" %}</label>
                      <div class="col-md-4">
                      <input {% form_error form.password.errors %} id="password" name="password" type="text" placeholder="{% trans "Password" %}" class="form-control input-md" value="{{ form.password.value }}">
                      </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="textarea">{% trans "Description" %}</label>
                      <div class="col-md-4">
                        <textarea class="form-control" style="width: 270px;" rows="5" {% form_error form.description.errors %} id="description" name="description" placeholder="{% trans "Description (optional)" %}">{{ form.description.value }}</textarea>
                      </div>
                    </div>

                    <!-- Button (Double) -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="submit"></label>
                      <div class="col-md-8">
                        <button id="submit" name="submit" class="btn btn-primary">Save</button>
                        <button id="cancel" name="cancel" class="btn btn-default">Cancel</button>
                      </div>
                    </div>

                    {% if peering.address %}

                    <legend>{% trans "Remove peering" %}</legend>

                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="submit"></label>
                      <div class="col-md-4">
                        <button id="submit" name="submit" value="delete" class="btn btn-danger confirmation">Delete</button>
                      </div>
                    </div>

                    {% endif %}

                </div>
            </div>
        </div>

        </fieldset>
        </form>

    </div>

{% endblock %}
