{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <!-- Breadcrumbs -->
    <ul class="breadcrumb breadcrumb-top">
        <li>{% trans "Peerings" %}</li>
    </ul>
    <!-- END Breadcrumbs -->

    <!-- Block -->
    <div class="block">

        <!-- Title -->
        <div class="block-title">
            <h2><strong>{% trans "Peerings" %}</strong></h2>
        </div>
        <!-- END Title -->

      <p>{% trans "Manage peerings (encrypted, direct connections to other cjdns users)" %}</p>

        <form method="post" class="form-horizontal">
        {% csrf_token %}
        <fieldset>

        <legend>{% trans "Outgoing peerings" %}</legend>

        <!-- Content -->
        <div class="row">
            <div class="col-md-6">
                <div class="block-section">

                    {% if peerings %}
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                              <tr>
                                <th>{% trans "Peering address" %}</th>
                                <th>{% trans "Description" %}</th>
                              </tr>
                            </thead>
                            <tbody>
                            {% for peering in peerings %}
                            <tr>
                                <td><a href="{% url app.views.peerings_edit peering.pk %}">{{ peering.address }}</a></td>
                                <td>{{ peering.description }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                    <a href="/peerings/new/" class="btn btn-info btn-alt">{% trans "New peering" %}</a>

                </div>
            </div>
        </div>

        </fieldset>
        </form>

        <form method="post" class="form-horizontal">
        {% csrf_token %}
        <fieldset>

        <legend>{% trans "Incoming peering" %}</legend>

        <!-- Content -->
        <div class="row">
            <div class="col-md-6">
                <div class="block-section">

                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="allow_peering">{% trans "Incoming peering" %}</label>
                      <div class="col-md-4">
                        {% if allow_peering == '1' %}
                            <button id="allow_peering" name="allow_peering" value="1" class="btn btn-success">{% trans "Enabled" %}</button>
                        {% else %}
                            <button id="allow_peering" name="allow_peering" value="1" class="btn btn-success btn-alt">{% trans "Disabled" %}</button>
                        {% endif %}
                      </div>
                    </div>

                    {% if allow_peering == '1' %}

        </form>

        <form method="post" class="form-horizontal">
        {% csrf_token %}

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="peering_port">{% trans "Port" %}</label>
                      <div class="col-md-4">
                          <input id="peering_port" name="peering_port" type="text" placeholder="47526" class="form-control input-md" value="{{ peering_port|default_if_none:'' }}">
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="peering_password">{% trans "Password" %}</label>
                      <div class="col-md-4">
                          <input id="peering_password" name="peering_password" type="text" placeholder="{% trans "Password" %}" class="form-control input-md" value="{{ peering_password|default_if_none:'' }}">
                      </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="save_peeringinfo"></label>
                      <div class="col-md-4">
                        <button id="save_peeringinfo" name="save_peeringinfo" class="btn btn-info btn-alt" value="1">{% trans "Save" %}</button>
                      </div>
                    </div>

                    {% if peering_port and peering_password %}

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="peeringinfo">{% trans "Peering info" %}</label>
                      <div class="col-md-4">
                          <input id="peeringinfo" name="peeringinfo" type="text" class="form-control input-md" value='"your.external.ip.goes.here:{{ peering_port }}":{"password":"{{ peering_password }}","publicKey":"{{ public_key }}"}'>
                        <p class="help-block">{% trans "Hand over that information to your peer!" %}</p>
                      </div>
                    </div>

                    {% endif %}

                    {% endif %}

                </div>
            </div>
        </div>

        </fieldset>
        </form>

        <form method="post" class="form-horizontal">
        {% csrf_token %}
        <fieldset>

        <legend>{% trans "Autopeering" %}</legend>

        <!-- Content -->
        <div class="row">
            <div class="col-md-6">
                <div class="block-section">

                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="autopeering">{% trans "Automatically connect to other cjdns nodes in the same LAN" %}</label>
                      <div class="col-md-4">
                        {% if autopeering == '1' %}
                        <button id="autopeering" name="autopeering" value="1" class="btn btn-success">{% trans "Enabled" %}</button>
{% else %}
                        <button id="autopeering" name="autopeering" value="1" class="btn btn-success btn-alt">{% trans "Disabled" %}</button>
{% endif %}
                      </div>
                    </div>

                </div>
            </div>
        </div>

        </fieldset>
        </form>

    </div>

{% endblock %}
