127.0.0.1           localhost
::1                 localhost ip6-localhost ip6-loopback
fe00::0             ip6-localnet
ff00::0             ip6-mcastprefix
ff02::1             ip6-allnodes
ff02::2             ip6-allrouters

# enigmabox internal
192.168.100.1       box enigma mail text box.enigmabox.net
{{#missioncontrol}}
{{ip}}  {{hostname}}
{{/missioncontrol}}

# enigmabox hosts
{{#if_cjdns_v6}}
fc41:ed54:b569:fb24:6a59:c596:0ef1:7445    directory
{{/if_cjdns_v6}}
{{^if_cjdns_v6}}
fcef:1264:ac19:6fac:5942:ed13:06bf:f4ae    directory
{{/if_cjdns_v6}}
fcd9:08a6:d9c1:5f57:d221:1ba0:35c9:6ff1    schallundrauch.h

# friends
{{#addresses}}
{{ipv6}}    {{hostname}}
{{/addresses}}

# global addresses
{{#global_addresses}}
{{ipv6}}    {{hostname}}.h
{{/global_addresses}}

