{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <!-- Breadcrumbs -->
    <ul class="breadcrumb breadcrumb-top">
        <li>{% trans "Backup &amp; restore" %}</li>
    </ul>
    <!-- END Breadcrumbs -->

    <!-- Block -->
    <div class="block">

        <!-- Title -->
        <div class="block-title">
            <h2><strong>{% trans "Backup &amp; restore" %}</strong></h2>
        </div>
        <!-- END Title -->

      <p>{% trans "Backup and restore your data." %}</p>

        <!-- Content -->
        <div class="row">
            <div class="col-md-6">
                <div class="block-section">

                    <div class="row">
                      <div class="col-md-12">
                        <a href="/backup/system/" class="btn btn-info btn-alt">{% trans "Complete system" %}</a>
                        {% trans "Everything." %}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <a href="/backup/sslcerts/" class="btn btn-warning btn-alt">{% trans "SSL certificates" %}</a>
                        {% trans "Used for communication with our server, e.g. requesting internet or updates." %}
                      </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
