{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <!-- Breadcrumbs -->
    <ul class="breadcrumb breadcrumb-top">
        <li><a href="/backup/">{% trans "Backup &amp; restore" %}</a></li>
        <li class="active">{% trans "SSL certificates" %}</li>
    </ul>
    <!-- END Breadcrumbs -->

    <!-- Block -->
    <div class="block">

        <!-- Title -->
        <div class="block-title">
            <h2><strong>{% trans "Backup &amp; restore SSL certificates" %}</strong></h2>
        </div>
        <!-- END Title -->

        <!-- Content -->
        <div class="row">
            <div class="col-md-6">
                <div class="block-section">

                    <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    <fieldset>

                    <legend>{% trans "Backup SSL certificates" %}</legend>

                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="backup"></label>
                      <div class="col-md-4">
                        <button id="backup" name="backup" value="1" class="btn btn-info btn-alt">Backup</button>
                      </div>
                    </div>

                    </fieldset>
                    </form>

                    <form method="post" enctype="multipart/form-data" class="form-horizontal">
                    {% csrf_token %}
                    <fieldset>

                    <legend>{% trans "Import SSL certificates" %}</legend>

                    <!-- File Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="filebutton">sslcerts-{{ hostid }}.zip {% trans "file" %}:</label>
                      <div class="col-md-4">
                        <input id="filebutton" name="filebutton" class="input-file" type="file">
                      </div>
                    </div>

                    {% if msg %}
                    {% if msg == 'backuperror' %}
                    <div class="alert alert-danger">
                    {% trans "Error in creating backup" %}
                    </div>
                    {% endif %}
                    {% if msg == 'restoreerror' %}
                    <div class="alert alert-danger">
                    {% trans "Error importing SSL certificates" %}
                    </div>
                    {% endif %}
                    {% if msg == 'restoresuccess' %}
                    <div class="alert alert-success">
                    {% trans "Import successful" %}
                    </div>
                    {% endif %}
                    {% endif %}

                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="backup"></label>
                      <div class="col-md-4">
                        <button id="restore" name="restore" value="1" class="btn btn-danger btn-alt confirmation">{% trans "Import" %}</button>
                      </div>
                    </div>

                    </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
