{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <div class="container">
    <ul class="breadcrumb">
        <li><a href="/backup/">{% trans "Backup &amp; restore" %}</a> <span class="divider">/</span></li>
        <li class="active">{% trans "Complete system" %}</li>
    </ul>

      <h1>{% trans "Backup &amp; restore complete system" %}</h1>

        <p>&nbsp;</p>

<form method="post" class="form-horizontal">
{% csrf_token %}
<fieldset>

<legend>{% trans "Backup complete system" %}</legend>

<!-- Button -->
<div class="control-group">
  <div class="controls">
    <button name="backup" class="btn btn-primary" value="1">{% trans "Start backup wizard" %}</button>
  </div>
</div>

</fieldset>
</form>

<form method="post" enctype="multipart/form-data" class="form-horizontal">
{% csrf_token %}
<fieldset>

<legend>{% trans "Restore complete system" %}</legend>

<!-- Button -->
<div class="control-group">
  <div class="controls">
    <button name="restore" class="btn btn-danger" value="1">{% trans "Start restore wizard" %}</button>
  </div>
</div>

</fieldset>
</form>

    </div> <!-- /container -->
{% endblock %}
