{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <!-- Breadcrumbs -->
    <ul class="breadcrumb breadcrumb-top">
        <li><a href="/backup/">{% trans "Backup &amp; restore" %}</a></li>
        <li class="active">{% trans "Complete system" %}</li>
    </ul>
    <!-- END Breadcrumbs -->

    <!-- Block -->
    <div class="block">

        <!-- Title -->
        <div class="block-title">
            <h2><strong>{% trans "Backup &amp; restore complete system" %}</strong></h2>
        </div>
        <!-- END Title -->

        <!-- Content -->
        <div class="row">
            <div class="col-md-6">
                <div class="block-section">

                    <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    <fieldset>

                    <legend>{% trans "Backup complete system" %}</legend>

                    <div class="row">
                      <div class="col-md-12">
                        <a href="/backup/system/backupwizard/" class="btn btn-primary">{% trans "Start backup wizard" %}</a>
                      </div>
                    </div>

                    <legend>{% trans "Restore complete system" %}</legend>

                    <div class="row">
                      <div class="col-md-12">
                        <a href="/backup/system/restorewizard/" class="btn btn-danger">{% trans "Start restore wizard" %}</a>
                      </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
