{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <!-- Breadcrumbs -->
    <ul class="breadcrumb breadcrumb-top">
        <li>{% trans "LAN IP range" %}</li>
    </ul>
    <!-- END Breadcrumbs -->

    <!-- Block -->
    <div class="block">

        <!-- Title -->
        <div class="block-title">
            <h2><strong>{% trans "LAN IP range" %}</strong></h2>
        </div>
        <!-- END Title -->

      <p>{% trans "Which IP range should the Enigmabox provide to internal devices?" %}</p>

        <!-- Content -->
        <div class="row">
            <div class="col-md-6">
                <div class="block-section">

                    <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    <fieldset>

                    <legend>{% trans "Select IP range" %}</legend>

                    <p>LAN 1: 192.168.
                        <select id="lan_range_first" name="lan_range_first" class="form-control" style="width: 100px; display: inline;">
                        {% for i in ip_range_first %}
                            {% if ip_range_router == i or ip_range_router_prev == i %}
                                <option value="{{ i }}" disabled="disabled">{{ i }}</option>
                            {% else %}
                                <option value="{{ i }}"{% if i == lan_range_first %} selected="selected"{% endif %}>{{ i }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    .1</p>

                    <p>LAN 2: 192.168.
                        <select id="lan_range_second" name="lan_range_second" class="form-control" style="width: 100px; display: inline;">
                        {% for i in ip_range_first %}
                            {% if ip_range_router == i or ip_range_router_prev == i %}
                                <option value="{{ i }}" disabled="disabled">{{ i }}</option>
                            {% else %}
                                <option value="{{ i }}"{% if i == lan_range_second %} selected="selected"{% endif %}>{{ i }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    .1</p>

                    <!-- Button -->
                    <div class="form-group">
                      <div class="col-md-4">
                        <button id="iprange_save" name="save" value="1" class="btn btn-danger confirmation disable_after_click">{% trans "Save and reboot" %}</button>
                      </div>
                    </div>

                    </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
