{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}

    <div class="container">

      <h1>{% trans "Welcome" %}.</h1>
{% if hostid %}
      <p>{% trans "Your hostid is" %} <strong>{{ hostid }}</strong>. {% trans "Network access valid until" %} {{ internet_access_formatted }}.</p>
{% else %}
      <p>&nbsp;</p>
      <h5>{% trans "Continue installation:" %}</h5>
        <div class="control-group">
          <div class="controls">
            <a href="/backup/system/restorewizard/" class="btn btn-inverse">{% trans "Restore from USB stick" %}</a>
            {% trans "Choose this if you have upgraded from a previous Enigmabox." %}
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <a href="/backup/sslcerts/" class="btn btn-warning">{% trans "Import SSL certificates" %}</a>
            {% trans "Choose this if you have built your own Enigmabox on the Banana Pi." %}
          </div>
        </div>
      <p>&nbsp;</p>
{% endif %}
{% if_internet_access_expiring object None %}
      <p><a href="/subscription/" class="btn btn-success"><i class="icon icon-white icon-refresh"></i>&nbsp;{% trans "Renew subscription" %}</a></p>
{% endif_internet_access_expiring %}

      <hr />

      <h5>{% trans "System status" %}</h5>

<div class="ajax_refresh" data-request_url="/">
{% include 'home/system_status.html' %}
</div>

      <hr />

      <h5>{% trans "Applications" %}</h5>

<p>
        <a href="/addressbook" class="btn btn-primary"><i class="icon icon-white icon-user"></i>&nbsp;{% trans "Addressbook" %}</a>
        <a href="http://mail.box/" target="_blank" class="btn btn-primary"><i class="icon icon-white icon-envelope"></i>&nbsp;{% trans "Webmail" %}</a>
{% if teletext_enabled == '1' %}
        <a href="http://text.box/" target="_blank" class="btn btn-primary"><i class="icon icon-white icon-list"></i>&nbsp;{% trans "Teletext" %}</a>
{% else %}
        <a disabled="disabled" class="btn btn-primary"><i class="icon icon-white icon-list"></i>&nbsp;{% trans "Teletext" %}</a>
{% endif %}
</p>
<p>
{% if personal_website == '1' %}
        <a href="http://[{{ ipv6 }}]/" target="_blank" class="btn btn-primary"><i class="icon icon-white icon-home"></i>&nbsp;{% trans "Personal website" %}</a>
{% else %}
        <a disabled="disabled" class="btn btn-primary"><i class="icon icon-white icon-home"></i>&nbsp;{% trans "Personal website" %}</a>
{% endif %}
{% if dokuwiki == '1' %}
        <a href="http://[{{ ipv6 }}]/wiki/" target="_blank" class="btn btn-primary"><i class="icon icon-white icon-book"></i>&nbsp;{% trans "Wiki" %}</a>
{% else %}
        <a disabled="disabled" class="btn btn-primary"><i class="icon icon-white icon-book"></i>&nbsp;{% trans "Wiki" %}</a>
{% endif %}
{% if owncloud == '1' %}
        <a href="http://[{{ ipv6 }}]/owncloud/" target="_blank" class="btn btn-primary">{% trans "OwnCloud" %}</a>
{% else %}
        <a disabled="disabled" class="btn btn-primary">{% trans "OwnCloud" %}</a>
{% endif %}
{% if pastebin == '1' %}
        <a href="http://[{{ ipv6 }}]/pastebin/" target="_blank" class="btn btn-primary"><i class="icon icon-white icon-list-alt"></i>&nbsp;{% trans "Pastebin" %}</a>
{% else %}
        <a disabled="disabled" class="btn btn-primary"><i class="icon icon-white icon-list-alt"></i>&nbsp;{% trans "Pastebin" %}</a>
{% endif %}
</p>
<p>
    <a href="/hypesites/configure/">{% trans "Configure Hypesite services..." %}</a>
</p>

      <hr />

      <strong>{% trans "Connection info" %} {% trans "SSH access" %}:</strong><br />
      <strong>{% trans "Username" %}:</strong> root<br />
      <strong>{% trans "Password" %}:</strong> <span class="unveil" data-text="{{ root_password }}"></span><br />
      <strong>{% trans "Server" %}:</strong> box<br />

      <hr />

      <br />
    </div> <!-- /container -->
{% endblock %}
