{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <!-- Breadcrumbs -->
    <ul class="breadcrumb breadcrumb-top">
        <li>{% trans "Home" %}</li>
    </ul>
    <!-- END Breadcrumbs -->

    <!-- Block -->
    <div class="block">

        <!-- Title -->
        <div class="block-title">
            <h2><strong>{% trans "Enigmabox system overview" %}</strong></h2>
        </div>
        <!-- END Title -->

        <!-- Content -->
        <div class="row">
            <div class="col-md-12">
                <div class="ajax_refresh" data-request_url="/">
                    {% include 'home/system_status.html' %}
                </div>
            </div>
        </div>

        <p>&nbsp;</p>

    </div>

{% endblock %}
