{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <!-- Breadcrumbs -->
    <ul class="breadcrumb breadcrumb-top">
        <li><a href="/portforwarding/">{% trans "Port forwarding" %}</a></li>
        {% if port %}
        <li class="active">{{ port }}</li>
        {% else %}
        <li class="active">New</li>
        {% endif %}
    </ul>
    <!-- END Breadcrumbs -->

    <!-- Block -->
    <div class="block">

        <!-- Title -->
        <div class="block-title">
            {% if port %}
            <h2><strong>{% trans "Edit port forwarding" %}</strong></h2>
            {% else %}
            <h2><strong>{% trans "New port forwarding" %}</strong></h2>
            {% endif %}
        </div>
        <!-- END Title -->

        <form method="post" class="form-horizontal">
        {% csrf_token %}
        <fieldset>

        <!-- Content -->
        <div class="row">
            <div class="col-md-6">
                <div class="block-section">

                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>{% trans "Error" %}:</strong>
                    {{ form.errors }}
                    </div>
                    {% endif %}

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="port">{% trans "Port" %}</label>
                      <div class="col-md-4">
                      <input {% form_error form.port.errors %} id="port" name="port" type="text" placeholder="{% trans "5900" %}" class="form-control input-md" value="{{ form.port.value }}">
                      </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="hw_address">Device</label>
                      <div class="col-md-4">
                        <select id="hw_address" name="hw_address" class="form-control">
                          <option value="40:8d:5c:b0:56:dc">192.168.100.54 (40:8d:5c:b0:56:dc)</option>
                          <option value="40:7d:5c:b0:56:ea">192.168.100.53 (40:7d:5c:b0:56:ea)</option>
                        </select>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="description">{% trans "Description" %}</label>
                      <div class="col-md-4">
                      <input {% form_error form.description.errors %} id="description" name="description" type="text" class="form-control input-md" value="{{ form.description.value }}">
                      </div>
                    </div>

                    <!-- Button (Double) -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="submit"></label>
                      <div class="col-md-8">
                        <button id="submit" name="submit" class="btn btn-info btn-alt">Save</button>
                        <a href="/portforwarding/" class="btn btn-default btn-alt">Cancel</a>
                      </div>
                    </div>

                    {% if portforwarding.port %}

                    <legend>{% trans "Remove port forwarding" %}</legend>

                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="submit"></label>
                      <div class="col-md-4">
                        <button id="submit" name="submit" value="delete" class="btn btn-danger confirmation">Delete</button>
                      </div>
                    </div>

                    {% endif %}

                </div>
            </div>
        </div>

        </fieldset>
        </form>

    </div>

{% endblock %}
