{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <div class="container">

        <ul class="breadcrumb">
            <li><a href="{% url app.views.hypesites %}">{% trans "Hypesites" %}</a> <span class="divider">/</span></li>
            <li class="active">{{ webservice|capfirst }}</li>
        </ul>

<form method="post" class="form-horizontal">
{% csrf_token %}

<fieldset>
<!-- Form Name -->
<legend>{{ webservice|capfirst }} {% trans "access configuration" %}</legend>

<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label" for="access_all">{% trans "Allow access" %}</label>
  <div class="controls">
    <button id="access_all" name="access_all" value="1" class="btn btn-{% btn_state hype_access_webservice 'all' 'warning' 'default' %}">{% trans "All" %}</button>
    <button id="access_friends" name="access_friends" value="1" class="btn btn-{% btn_state hype_access_webservice 'friends' 'primary' 'default' %}">{% trans "Friends only" %}</button>
    <button id="access_specific" name="access_specific" value="1" class="btn btn-{% btn_state hype_access_webservice 'specific' 'success' 'default' %}">{% trans "Specific IPs..." %}</button>
  </div>
</div>

</fieldset>

{% if hypesites_access == 'specific' %}
<fieldset>
<!-- Form Name -->
<legend>Access control</legend>

<!-- Select Multiple -->
<div class="control-group">
  <label class="control-label" for="userlist">User list</label>
  <div class="controls">
    <select id="userlist" name="userlist" size="10" class="input-xxlarge" multiple="multiple">
{% for address in addresses %}
      <option>{{ address.name }} ({{ address.ipv6 }})</option>
{% endfor %}
    </select>
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="grant"></label>
  <div class="controls">
    <button id="grant" name="grant" class="btn btn-success"><i class="icon-arrow-down icon-white"></i> Grant selected users</button>
  </div>
</div>

<!-- Select Multiple -->
<div class="control-group">
  <label class="control-label" for="user_access">Users with access</label>
  <div class="controls">
    <select id="user_access" name="user_access" size="10" class="input-xxlarge" multiple="multiple">
{% for address in addresses %}
      <option>{{ address.name }} ({{ address.ipv6 }})</option>
{% endfor %}
    </select>
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="revoke"></label>
  <div class="controls">
    <button id="revoke" name="revoke" class="btn btn-danger"><i class="icon-ban-circle icon-white"></i> Revoke selected users</button>
  </div>
</div>
</fieldset>
{% endif %}

</form>

    </div> <!-- /container -->
{% endblock %}
