{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <div class="container">

      <h1>{% trans "Hypesites" %}</h1>
      <p>{% trans 'Hypesites are websites inside Hyperboria.' %}</p>
      <p>{% trans 'Run a webserver and publish your own site.' %}</p>
      <br />

<form method="post" class="form-horizontal">
{% csrf_token %}

<fieldset>
<!-- Form Name -->
<legend>{% trans "Webserver" %}</legend>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="webserver">{% trans "Enable Webserver" %}:</label>
  <div class="controls">
{% if webserver_enabled == '1' %}
    <button id="webserver" name="webserver" class="btn btn-success" value="1">{% trans "Enabled" %}</button>
{% else %}
    <button id="webserver" name="webserver" class="btn btn-inverse" value="1">{% trans "Disabled" %}</button>
{% endif %}
  </div>
</div>
</fieldset>

<fieldset>
<!-- Form Name -->
<legend>{% trans "Firewall configuration" %}</legend>

<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label" for="access_global">{% trans "Allow access" %}</label>
  <div class="controls">
    <button id="access_global" name="access_global" value="1" class="btn btn-{% btn_state hypesites_access 'global' 'warning' 'default' %}">{% trans "Global" %}</button>
    <button id="access_friends" name="access_friends" value="1" class="btn btn-{% btn_state hypesites_access 'friends' 'warning' 'default' %}">{% trans "Friends only" %}</button>
    <button id="access_off" name="access_off" value="1" class="btn btn-{% btn_state hypesites_access 'off' 'warning' 'default' %}">{% trans "Off" %}</button>
  </div>
</div>

</fieldset>

<fieldset>
<!-- Form Name -->
<legend>{% trans "Webservices" %}</legend>

<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label" for="personal_website">{% trans "Personal website" %}</label>
  <div class="controls">
{% if personal_website == '1' %}
    <button id="personal_website" name="personal_website" value="1" class="btn btn-success">{% trans "Enabled" %}</button>
{% else %}
    <button id="personal_website" name="personal_website" value="1" class="btn btn-inverse">{% trans "Disabled" %}</button>
{% endif %}
    <button id="cfg_access_site" name="cfg_access_site" class="btn btn-default">{% trans "Configure access..." %}</button>
  </div>
</div>

<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label" for="dokuwiki">{% trans "Dokuwiki" %}</label>
  <div class="controls">
{% if dokuwiki == '1' %}
    <button id="dokuwiki" name="dokuwiki" value="1" class="btn btn-success">{% trans "Enabled" %}</button>
{% else %}
    <button id="dokuwiki" name="dokuwiki" value="1" class="btn btn-inverse">{% trans "Disabled" %}</button>
{% endif %}
    <button id="cfg_access_dokuwiki" name="cfg_access_dokuwiki" class="btn btn-default">{% trans "Configure access..." %}</button>
  </div>
</div>
</fieldset>

</form>

    </div> <!-- /container -->
{% endblock %}
