{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <div class="container">

      <h1>{% trans "Hypesites" %}</h1>
      <p>{% trans 'Hypesites are websites inside Hyperboria.' %}</p>
      <br />
      <p><a href="/hypesites/configure/" class="btn btn-primary">{% trans "Run your own..." %}</a></p>
      <br />

<table class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>{% trans "Hostname" %}</th>
        <th>{% trans "Site" %}</th>
        <th>{% trans "Last seen" %}</th>
      </tr>
    </thead>
    <tbody>
    <tr>
        <td>{% trans "My address" %}</td>
        <td><a href="http://[{{ ipv6 }}]" target="_blank">http://[{{ ipv6 }}]/</a></td>
        <td>ls</td>
    </tr>
    {% for site in hypesites %}
    <tr>
        <td>{{ site.hostname }}</td>
        <td><a href="http://[{{ site.ipv6 }}]" target="_blank">http://[{{ site.ipv6 }}]/</a></td>
        <td>{{ site.last_seen|timesince }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

    </div> <!-- /container -->
{% endblock %}
