{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <!-- Breadcrumbs -->
    <ul class="breadcrumb breadcrumb-top">
        <li>{% trans "Select country" %}</li>
    </ul>
    <!-- END Breadcrumbs -->

    <!-- Block -->
    <div class="block">

        <!-- Title -->
        <div class="block-title">
            <h2><strong>{% trans "Select country" %}</strong></h2>
        </div>
        <!-- END Title -->

      <p>{% trans "Choose over which country you want internet access." %}</p>

        <!-- Content -->
        <div class="row">
            <div class="col-md-6">

                <!-- Draggable Blocks Row -->
                <div class="row draggable-blocks">
                    <div class="col-sm-6 column">
                        {% for c in countries %}
                        <!-- Block -->
                        <div class="block {% if c.countrycode == selected_country %}selected-country{% endif %}">
                            <div class="block-title">
                                <h2>{{ c.countryname }}</h2>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 column">
                                    <p><label class="switch switch-success"><input type="checkbox" {% if c.active %}checked="checked"{% endif %}><span></span></label></p>
                                </div>
                                <div class="col-sm-8 column">
                                    {% if c.countrycode != selected_country %}
                                        <p><button type="button" class="btn btn-alt btn-success">Switch to this country</button></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- END Block -->
                        {% endfor %}
                    </div>
                </div>
                <!-- END Draggable Blocks Row -->

            </div>
        </div>
    </div>

{% endblock %}
