{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <!-- Breadcrumbs -->
    <ul class="breadcrumb breadcrumb-top">
        <li>{% trans "Ad blocking" %}</li>
    </ul>
    <!-- END Breadcrumbs -->

    <!-- Block -->
    <div class="block">

        <!-- Title -->
        <div class="block-title">
            <h2><strong>{% trans "Ad blocking" %}</strong></h2>
        </div>
        <!-- END Title -->

      <p>{% trans "Filter out ads and trackers, block whole domains." %}</p>

        <!-- Content -->
        <div class="row">
            <div class="col-md-6">
                <div class="block-section">
                    <ul class="nav nav-tabs" id="webfilter-tabs">
                      <li><a href="#general-config">{% trans "General configuration" %}</a></li>
                      <li><a href="#block-domains">{% trans "Block domains" %}</a></li>
                      <li><a href="#custom-rules">{% trans "Custom blocking rules" %}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <form method="post" class="form-horizontal">
        {% csrf_token %}

        <fieldset>

        <div class="tab-content">
            <div class="tab-pane" id="general-config">

                <div class="row">
                    <div class="col-md-6">

                        <!-- Button -->
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="filter-ads">{% trans "Filter ads and trackers" %}</label>
                          <div class="col-md-4">
                            {% if filter_ads == '1' %}
                                <button id="filter-ads" name="filter-ads" value="1" class="btn btn-success">{% trans "Enabled" %}</button>
                            {% else %}
                                <button id="filter-ads" name="filter-ads" value="1" class="btn btn-success btn-alt">{% trans "Disabled" %}</button>
                            {% endif %}
                          </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <!-- Button -->
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="block-win10stasi">{% trans "Block Windows 10 Stasi features" %}</label>
                          <div class="col-md-4">
                            {% if block_win10stasi == '1' %}
                                <button id="block-win10stasi" name="block-win10stasi" value="1" class="btn btn-success">{% trans "Enabled" %}</button>
                            {% else %}
                                <button id="block-win10stasi" name="block-win10stasi" value="1" class="btn btn-success btn-alt">{% trans "Disabled" %}</button>
                            {% endif %}
                          </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="tab-pane" id="block-domains">

                <div class="row">
                    <div class="col-md-6">

                        <!-- Button -->
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="block-facebook">{% trans "Block Facebook" %}</label>
                          <div class="col-md-4">
                            {% if block_facebook == '1' %}
                                <button id="block-facebook" name="block-facebook" value="1" class="btn btn-success">{% trans "Enabled" %}</button>
                            {% else %}
                                <button id="block-facebook" name="block-facebook" value="1" class="btn btn-success btn-alt">{% trans "Disabled" %}</button>
                            {% endif %}
                          </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <!-- Button -->
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="block-google">{% trans "Block Google" %}</label>
                          <div class="col-md-4">
                            {% if block_google == '1' %}
                                <button id="block-google" name="block-google" value="1" class="btn btn-success">{% trans "Enabled" %}</button>
                            {% else %}
                                <button id="block-google" name="block-google" value="1" class="btn btn-success btn-alt">{% trans "Disabled" %}</button>
                            {% endif %}
                          </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <!-- Button -->
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="block-twitter">{% trans "Block Twitter" %}</label>
                          <div class="col-md-4">
                            {% if block_twitter == '1' %}
                                <button id="block-twitter" name="block-twitter" value="1" class="btn btn-success">{% trans "Enabled" %}</button>
                            {% else %}
                                <button id="block-twitter" name="block-twitter" value="1" class="btn btn-success btn-alt">{% trans "Disabled" %}</button>
                            {% endif %}
                          </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="tab-pane" id="custom-rules">

                <div class="row">
                    <div class="col-md-6">

                        <!-- Button -->
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="custom-rules">{% trans "Custom rules" %}</label>
                          <div class="col-md-4">
                            {% if custom_rules == '1' %}
                                <button id="custom-rules" name="custom-rules" value="1" class="btn btn-success">{% trans "Enabled" %}</button>
                            {% else %}
                                <button id="custom-rules" name="custom-rules" value="1" class="btn btn-success btn-alt">{% trans "Disabled" %}</button>
                            {% endif %}
                          </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <!-- Textarea -->
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="custom-rules-text">{% trans "Rules" %}</label>
                          <div class="col-md-4">
                            <textarea class="form-control" id="custom-rules-text" name="custom-rules-text" rows="10">{{ custom_rules_text }}</textarea>
                          </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        </fieldset>
        </form>

        <!-- END Content -->

    </div>
    <!-- END Block -->

{% endblock %}
