{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <!-- Breadcrumbs -->
    <ul class="breadcrumb breadcrumb-top">
            <li><a href="{% url app.views.passwords %}">{% trans "Passwords" %}</a></li>
        <li class="active">{{ subject|capfirst }}</li>
    </ul>
    <!-- END Breadcrumbs -->

    <!-- Block -->
    <div class="block">

        <!-- Title -->
        <div class="block-title">
            <h2><strong>{{ subject|capfirst }}</strong></h2>
        </div>
        <!-- END Title -->

        {% if subject == 'webinterface' %}
            <p>{% trans 'Password for the web interface <em>http://box/</em>' %}.</p>
        {% endif %}
        {% if subject == 'mailbox' %}
            <p>{% trans 'Password for the email account <em>mail@box</em>' %}.</p>
        {% endif %}

        <!-- Content -->
        <div class="row">
            <div class="col-md-6">

                <form method="post" class="form-horizontal">
                {% csrf_token %}

                <fieldset>

                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>{% trans "Error" %}:</strong>
                    {{ form.errors }}
                </div>
                {% endif %}

{% if subject == 'webinterface' %}
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="name">{% trans "Username" %}</label>
                  <div class="col-md-4">
                    <input disabled="disabled" id="name" name="name" type="text" placeholder="admin" class="form-control input-md">
                  </div>
                </div>
{% endif %}

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="password">{% trans "Password" %}</label>
                  <div class="col-md-4">
                    <input {% form_error form.password.errors %} type="password" id="password" name="password" type="text" value="{{ form.password.value }}" placeholder="{% trans "Password" %}" class="form-control input-md">
                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="password_repeat">{% trans "Repeat password" %}</label>
                  <div class="col-md-4">
                    <input {% form_error form.password_repeat.errors %} type="password" id="password_repeat" name="password_repeat" type="text" value="{{ form.password_repeat.value }}" placeholder="{% trans "Repeat password" %}" class="form-control input-md">
                  </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="save"></label>
                  <div class="col-md-8">
                    <button id="submit" name="submit" value="save" class="btn btn-info btn-alt">{% trans "Save" %}</button>
                    <a href="{% url app.views.passwords %}" class="btn btn-default btn-alt">{% trans "Cancel" %}</a>
                  </div>
                </div>

                </fieldset>

                <fieldset>

                <legend>{% trans "Unset password" %}</legend>

                <div class="form-group">
                  <label class="col-md-4 control-label" for="save"></label>
                  <div class="col-md-8">
                    <button name="submit" value="unset" class="btn btn-danger btn-alt confirmation">{% trans "Remove" %}</button>
                  </div>
                </div>

                </fieldset>

                </form>

        </div>
    </div>
</div>
{% endblock %}
