{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <div class="container">

      <h1>{% trans "Passwords" %}</h1>

      <p>{% trans "Set passwords and protect the administration interface from access." %}</p>

<legend>{% trans "Passwords" %}</legend>

<p>
    {% trans 'Password for the web interface <em>http://box/</em>' %}:
{% if webinterface_password == '' %}
    <span class="label label-default">{% trans "Unset" %}</span>
{% else %}
    <span class="label label-success">{% trans "Set" %}</span>
{% endif %}
    <a href="/passwords/webinterface/"><i class="icon icon-pencil"></i> {% trans "Edit" %}</a>
</p>
<p>
    {% trans 'Password for the email account <em>mail@box</em>' %}:
{% if mailbox_password == '' %}
    <span class="label label-default">{% trans "Unset" %}</span>
{% else %}
    <span class="label label-success">{% trans "Set" %}</span>
{% endif %}
    <a href="/passwords/mailbox/"><i class="icon icon-pencil"></i> {% trans "Edit" %}</a>
</p>

    </div> <!-- /container -->
{% endblock %}
