{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <div class="container">

      <h1>{% trans "Passwords" %}</h1>

      <p>{% trans "Set passwords. Empty value: Password is inactive." %}</p>

<form method="post" class="form-horizontal">
{% csrf_token %}
<fieldset>

<legend>{% trans "Passwords" %}</legend>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="webinterface_password">{% trans "Webinterface" %}</label>
  <div class="controls">
    <input id="webinterface_password" name="webinterface_password" type="password" placeholder="" class="input-xlarge" value="{{ webinterface_password|default_if_none:'' }}">
    <button id="set_webinterface_password" name="set_webinterface_password" class="btn btn-primary" value="1">{% trans "Set" %}</button>
    <p class="help-block">{% trans "Password for the Webinterface" %} <em>http://box/</em></p>
    <p class="help-block">{% trans "Username is" %} "admin"</p>
  </div>
</div>

</fieldset>
</form>

<form method="post" class="form-horizontal">
{% csrf_token %}
<fieldset>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="mailbox_password">mail@box</label>
  <div class="controls">
    <input id="mailbox_password" name="mailbox_password" type="password" placeholder="" class="input-xlarge" value="{{ mailbox_password|default_if_none:'' }}">
    <button id="set_mailbox_password" name="set_mailbox_password" class="btn btn-primary" value="1">{% trans "Set" %}</button>
    <p class="help-block">{% trans "Password for the email account" %} <em>mail@box</em></p>
  </div>
</div>

</fieldset>
</form>

    </div> <!-- /container -->
{% endblock %}
