
$HTTP["url"] =~ "^/" {

{{^if_hype_access_site_all}}
    $HTTP["remoteip"] !~ "fdfa::|fdfb::|{{#hype_site_accesslist}}{{ ipv6 }}|{{/hype_site_accesslist}}127.0.0.1" {
        url.access-deny = ( "" )
    }
{{/if_hype_access_site_all}}

    # max post request: 1M
    server.max-request-size = 1024

    # disable directory listing
    dir-listing.activate = "disable"

    # make sure those are always served through FastCGI and never as static files
    static-file.exclude-extensions = ( ".php" )

    # php
    cgi.assign = ( ".php" => "/usr/bin/php-cgi" )

    index-file.names = ( "index.html", "index.htm", "index.php" )

}

