<h1>Enigmabox: Ablauf Abonnement</h1>

<p>Das Abonnement l&auml;uft bald ab oder ist bereits abgelaufen.
Im <a href="http://box/subscription/">Webinterface</a> kann das Abo verl&auml;ngert werden.
<a href="http://box/subscription/hide_notice/">Diese Meldung ausblenden</a>.</p>

<hr />

<h1>Enigmabox: Subscription about to expire</h1>

<p>Your subscription is about to expire or already has expired.
Renew it in the <a href="http://box/subscription/">web interface</a>.
<a href="http://box/subscription/hide_notice/">Hide this message</a>.</p>

