
$HTTP["url"] =~ "^/site" {

{{^if_hype_access_dokuwiki_all}}
    $HTTP["remoteip"] !~ "{{#hype_dokuwiki_accesslist}}{{ ipv6 }}|{{/hype_dokuwiki_accesslist}}127.0.0.1" {
        url.access-deny = ( "" )
    }
{{/if_hype_access_dokuwiki_all}}

    # max post request: 1M
    server.max-request-size = 1024

    # docroot
    server.document-root = "/www/htdocs"

    # activate directory listing
    dir-listing.activate = "enable"

    # make sure those are always served through FastCGI and never as static files
    static-file.exclude-extensions = ( ".php" )

    # php
    cgi.assign = ( ".php" => "/usr/bin/php-cgi" )

    index-file.names = ("index.php")

}
