
$HTTP["url"] =~ "^/pastebin" {

{{^if_hype_pastebin}}
    url.access-deny = ( "" )
{{/if_hype_pastebin}}

    # max post request: 1M
    server.max-request-size = 1024

    # activate directory listing
    dir-listing.activate = "disable"

    # php
    fastcgi.server = (
        ".php" =>
            ((
            "host" => "127.0.0.1",
            "port" => 1026,
            "check-local" => "disable",
            "docroot" => "/srv/www"
            ))
    )

    url.rewrite-once = (
        "^/pastebin/static/(.*)$" => "/pastebin/static/$1",
        "^/pastebin/favicon\.ico$" => "/pastebin/favicon.ico",
        "^/pastebin/robots\.txt$" => "/pastebin/robots.txt",
        "^/pastebin/(.*)$" => "/pastebin/index.php$2",
    )

}

