{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <!-- Breadcrumbs -->
    <ul class="breadcrumb breadcrumb-top">
        <li><a href="/backup/">{% trans "Backup &amp; restore" %}</a></li>
        <li><a href="/backup/system/">{% trans "Complete system" %}</a></li>
        <li class="active">{% trans "Restore wizard" %}</li>
    </ul>
    <!-- END Breadcrumbs -->

    <!-- Block -->
    <div class="block">

        <!-- Title -->
        <div class="block-title">
            <h2><strong>{% trans "Complete system restore" %}</strong></h2>
        </div>
        <!-- END Title -->

        <!-- Content -->
        <div class="row">
            <div class="col-md-6">
                <div class="block-section">

                    <form action="" method="post" class="form-horizontal">
                    {% csrf_token %}
                        <fieldset>
                            <legend>{% trans "Step 1: Insert USB stick" %}</legend>
                            <p>{% trans "Insert the USB stick that holds your data." %}</p>
                    {% if errormsg %}
                            <div class="alert alert-danger" role="alert">
                                <h4>{% trans "Error" %}</h4>
                    {% if errormsg == 'nodrive' %}
                                {% trans "No USB stick detected." %}
                    {% endif %}
                            </div>
                    {% endif %}
                            <button id="check_usb" name="check_usb" value="1" class="btn btn-info btn-alt disable_after_click">{% trans "Check USB stick" %}</button>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
