{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <div class="container">

      <h1>{% trans "Complete system restore" %}</h1>

      <p>&nbsp;</p>

<form action="" method="post" class="form-horizontal">
{% csrf_token %}
    <fieldset>
        <legend>{% trans "Step 3: Remove USB stick" %}</legend>
        <p>{% trans "Restore successful. Now remove the USB stick." %}</p>
        <p>&nbsp;</p>
{% if errormsg %}
        <div class="alert alert-error">
            <h4>{% trans "Error" %}</h4>
            {% trans "Please remove the USB stick!" %}
        </div>
{% endif %}
        <button id="ensure_usb_unplugged" name="ensure_usb_unplugged" value="1" class="btn btn-primary disable_after_click">{% trans "I have removed the USB stick" %}</button>
    </fieldset>
</form>

    </div> <!-- /container -->
{% endblock %}
