{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <div class="container">

      <h1>{% trans "Firmware upgrade" %}</h1>

      <p>{% trans "The system you are using is no longer maintained." %}</p>
      <p>{% trans "Upgrade to OpenWRT here." %}</p>

      <p>&nbsp;</p>

<form action="" method="post" class="form-horizontal">
{% csrf_token %}
    <fieldset>
        <button id="start" name="start" value="1" class="btn btn-primary">{% trans "Start upgrade wizard" %}</button>
    </fieldset>
</form>

    </div> <!-- /container -->
{% endblock %}
