{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <div class="container">
    <ul class="breadcrumb">
        <li><a href="/backup/">{% trans "Backup &amp; restore" %}</a> <span class="divider">/</span></li>
        <li><a href="/backup/system/">{% trans "Complete system" %}</a> <span class="divider">/</span></li>
        <li class="active">{% trans "Restore wizard" %}</li>
    </ul>

      <h1>{% trans "Complete system restore" %}</h1>

      <p>&nbsp;</p>

<form action="" method="post" class="form-horizontal">
{% csrf_token %}
    <fieldset>
        <legend>{% trans "Step 2: Restore from USB stick" %}</legend>
        <p>{% trans "Ok, now we restore all your user data and system settings from the USB stick." %}</p>
        <p>&nbsp;</p>
        <button id="restore_from_usb" name="restore_from_usb" value="1" class="btn btn-danger">{% trans "Start restore" %}</button>
    </fieldset>
</form>

<!-- Modal -->
<div id="restore-progress" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <h3>{% trans "Restore in progress" %}</h3>
  </div>
  <div class="modal-body text-center">
    <p>{% trans "Do NOT power off your Enigmabox!" %}</p>
  </div>
  <div class="modal-footer">
    <div id="fw-write-progress" class="progress progress-striped active">
        <div id="fw-write-bar" class="bar" style="width: 100%"></div>
    </div>
  </div>
</div>

    </div> <!-- /container -->
{% endblock %}
