{% extends "base.html" %}
{% load i18n %}
{% load apptags %}

{% block main %}
    <!-- Breadcrumbs -->
    <ul class="breadcrumb breadcrumb-top">
        <li>{% trans "Subscription" %}</li>
    </ul>
    <!-- END Breadcrumbs -->

    <!-- Block -->
    <div class="block">

        <!-- Title -->
        <div class="block-title">
            <h2><strong>{% trans "Subscription" %}</strong></h2>
        </div>
        <!-- END Title -->

      <p>{% trans "Renew your subscription." %}</p>

        <!-- Content -->
        <div class="row">
            <div class="col-md-6">

                <form method="post" class="form-horizontal">
                {% csrf_token %}

                <fieldset>

                <legend>{% trans "Network access" %}</legend>

                <!-- Multiple Radios (inline) -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="currency">{% trans "Currency" %}</label>
                  <div class="col-md-4">
                    <label class="radio-inline" for="currency-0">
                      <input type="radio" name="currency" id="currency-0" value="CHF" {% btn_state currency 'CHF' 'checked="checked"' '' %}>
                      CHF
                    </label>
                    <label class="radio-inline" for="currency-1">
                      <input type="radio" name="currency" id="currency-1" value="EUR" {% btn_state currency 'EUR' 'checked="checked"' '' %}>
                      EUR
                    </label>
                    <label class="radio-inline" for="currency-2">
                      <input type="radio" name="currency" id="currency-2" value="USD" {% btn_state currency 'USD' 'checked="checked"' '' %}>
                      USD
                    </label>
                  </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="subscription">{% trans "Subscription" %}</label>
                  <div class="col-md-4">
                    <select id="subscription" name="subscription" class="form-control">
                      <option value="1" {% btn_state subscription '1' 'selected="selected"' '' %}>{% trans "1 year" %}</option>
                      <option value="5" {% btn_state subscription '5' 'selected="selected"' '' %}>{% trans "5 years" %}</option>
                      <option value="lt" {% btn_state subscription 'lt' 'selected="selected"' '' %}>{% trans "Lifetime" %}</option>
                    </select>
                  </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="show_invoice"></label>
                  <div class="col-md-4">
                    <button id="show_invoice" name="show_invoice" value="1" class="btn btn-primary">{% trans "Show invoice" %}</button>
                  </div>
                </div>

                </fieldset>
                </form>

                {% if show_invoice %}

                <p>{% trans "Please send" %} <strong>{{ currency }} {{ amount }}.-</strong> {% trans "to the following account" %}:</p>

                <p>PostFinance AG<br />
                Mingerstrasse 20<br />
                3030 Bern<br />
                Schweiz<br />
<br />
                {% trans "Account" %}: Enigmagroup<br />
                <strong>{% trans "Payment reference" %}: abo-{{ hostid }}</strong><br />
                CHF-Konto: 61-908232-8<br />
                IBAN: CH51 0900 0000 6190 8232 8<br />
                SWIFT/BIC: POFICHBEXXX</p>

                <p>{% trans "As soon as we've received the money, your subscription will be renewed. This can take up to two business days." %}</p>

                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
